version: 2
jobs:
  build:
    working_directory: ~/mern-starter
    docker:
      - image: node:8.3
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: install dependencies
          command: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - ./node_modules
      - run:
          name: test
          command: npm test
      - run:
          name: code-coverage
          command: './node_modules/.bin/nyc report --reporter=text-lcov'
      - store_artifacts:
          path: test-results.xml
          prefix: tests
      - store_artifacts:
          path: coverage
          prefix: coverage
      - store_test_results:
          path: test-results.xml
  test:
    docker:
      - image: circleci/node:8.3
      - image: mongo:3.2.11
    steps:
      - checkout
      - command: npm test

  deploy:
    docker:
      - image: circleci/node:8.3
    steps:
      - checkout
      - command: echo yolo

#workflows:
#  version: 2
#  btd:
#    jobs:
#      - build
#      - test
#      - deploy
