version: 2
jobs:
  build:
    working_directory: ~/mern-starter
    docker:
      - image: node:7.9.0
      - image: mongo:3.4.4
    steps:
      - checkout
      - run:
          name: install-npm-wee
          command: npm install
      - run:
          name: test
          command: npm test
      - run:
          name: code-coverage
          command: './node_modules/.bin/nyc report --reporter=lcov | ./node_modules/.bin/coveralls'
      - store_artifacts:
          path: test-results.xml
          prefix: tests
      - store_artifacts:
          path: coverage
          prefix: coverage
      - store_test_results:
          path: test-results.xml
