version: 2
jobs:
  build:
    working_directory: ~/mern-starter
    docker:
      - image: node:8.3
      - image: mongo:3.4.7
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: install dependencies
          command: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - ./node_modules
      - run:
          name: test
          command: npm test
      - run: 
        name: move results
        command: |
          mkdir test_results
          mv test-results.xml test_results
      - run:
          name: code-coverage
          command: './node_modules/.bin/nyc report --reporter=text-lcov'
      - store_artifacts:
          path: test_results
      - store_artifacts:
          path: coverage
          prefix: coverage
      - store_test_results:
          path: test_results
